.section_5{
    text-align: center;
    margin: auto;
    padding: 40px 0;
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spacing{
    width: auto;
    height: 24px;
}
.btn-group{
    border-radius: 8px;
    padding: 14px;
    border: 1px solid #DADFD8;
}

.btn-group input{
    display: none;
}

.btn-group label{
    padding: 10px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-group input:checked + label {
    background-color: #8AC732;
    color: white;
}

.btn-group-2{
    margin: 0 auto;
    border-radius: 8px;
    padding: 14px;
    max-width: 971px;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    border: 1px solid #DADFD8;
    margin-bottom: 32px;
}

.btn-group-2 input{
    display: none;
}

.btn-group-2 label{
    padding: 10px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-group-2 input:checked + label {
    background-color: #8AC732;
    color: white;
}

.items-container{
    display: flex;
    justify-content: space-around;
}

.card-item{
    text-align: left;
    border-radius: 8px;
    border: 1px solid #C6C6C6;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}